<div>
  <h1>Recative Form concept</h1>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          myForm.get('email')?.hasError('required') &&
          myForm.get('email')?.touched
        "
      >
        Email is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        formControlName="password"
        required
      />
    </div>

    <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
